<%= form_for :product, url: product_path(@product), method: :patch do |f| %>
<table>

  <tr>
    <td><%= f.label :product_name %></td>
    <td><%= f.text_field :product_name %></td>
  </tr>
 
  <tr>
   <td> <%= f.label :description %></td>
   <td> <%= f.text_area :description %></td>
  </tr>
  <tr>
   <td> <%= f.label :start_date %></td>
    <td><%= f.text_area :start_date %></td>
  </tr>

  <tr>
   <td> <%= f.label :end_time %></td>
    <td><%= f.text_area :end_time %></td>
  </tr>

  <tr>
    <td><%= f.label :quantity %></td>
    <td><%= f.text_area :quantity %></td>
  </tr>
 
  <tr>
   <td> <%= f.submit %></td>
  </tr>
</table>
 
<% end %>
 
<%#= render 'form' %>
 
<%= link_to 'Back', products_path %>